.toplevel {
  height: 100%;
}

.menu {
  color: limegreen;
}

.doit {
  background-color: chocolate;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c5/Emoji_u1f4a1.svg");
  background-repeat: no-repeat;
  background-size: 48px 48px;
  background-position: 5px 5px;
  border-radius: 0.7em;
  border: 2px solid darkgray;
  font-size: 0.8em !important;
  padding: 0.7em !important;
}

.plain {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.logo {
  background: white !important;
  border: none !important;
  border-radius: 0.2em;
  box-shadow: none !important;
  padding: 0.2em 0.5em 0.2em 0.5em !important;
  vertical-align: middle !important;
}

table.acknowledgements td {
  font-size: small;
  text-align: center !important;
}

table.acknowledgements img {
  border: none !important;
  box-shadow: none !important;
  height: 7em !important;
}

div.webpage {
  height: 100%;
}
div.webpage p {
  padding: 0 32px 1px 24px;
  margin: 0;
}
div.webpage input {
  width: 100%;
  font-size: large;
  padding: 3px;
  border: 1px solid gray;
}
div.webpage iframe {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}
