.menu {
  color: limegreen;
}

.doit {
  background: chocolate;
  border-radius: 0.7em;
  border: 2px solid darkgray;
  font-size: 0.8em !important;
  padding: 0.7em !important;
}

.plain {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.logo {
  background: white !important;
  border: none !important;
  border-radius: 0.2em;
  box-shadow: none !important;
  padding: 0.2em 0.5em 0.2em 0.5em !important;
  vertical-align: middle !important;
}

table.acknowledgements td {
  font-size: small;
  text-align: center !important;
}

table.acknowledgements img {
  border: none !important;
  box-shadow: none !important;
  height: 7em !important;
  margin-top: 2em !important;
}
